CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_ALLOW_BUILD_AS_ROOT=y
CT_ALLOW_BUILD_AS_ROOT_SURE=y
CT_PREFIX_DIR="/toolchain/${CT_TARGET}"
# CT_LOG_PROGRESS_BAR is not set
# CT_LOG_TO_FILE is not set
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-m0"
CT_ARCH_ARM_MODE_THUMB=y
# CT_ARCH_USE_MMU is not set
CT_ARCH_FLOAT_SW=y
CT_TARGET_VENDOR="none"
CT_BINUTILS_PLUGINS=y
CT_LIBC_NEWLIB_IO_C99FMT=y
CT_LIBC_NEWLIB_IO_LL=y
CT_LIBC_NEWLIB_IO_FLOAT=y
# CT_LIBC_NEWLIB_FVWRITE_IN_STREAMIO is not set
# CT_LIBC_NEWLIB_UNBUF_STREAM_OPT is not set
# CT_LIBC_NEWLIB_FSEEK_OPTIMIZATION is not set
CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
# CT_LIBC_NEWLIB_ATEXIT_DYNAMIC_ALLOC is not set
CT_LIBC_NEWLIB_LITE_EXIT=y
CT_LIBC_NEWLIB_REENT_SMALL=y
# CT_LIBC_NEWLIB_MULTITHREAD is not set
CT_LIBC_NEWLIB_EXTRA_SECTIONS=y
# CT_LIBC_NEWLIB_WIDE_ORIENT is not set
CT_LIBC_NEWLIB_NANO_MALLOC=y
CT_LIBC_NEWLIB_NANO_FORMATTED_IO=y
# CT_CC_CXA_ATEXIT is not set
# CT_CC_GCC_LDBL_128 is not set
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_GDB_CROSS_SIM=y
CT_COMP_LIBS_NEWLIB_NANO=y
CT_NEWLIB_NANO_INSTALL_IN_TARGET=y
# CT_LIBC_NEWLIB_NANO_FVWRITE_IN_STREAMIO is not set
CT_LIBC_NEWLIB_NANO_DISABLE_SUPPLIED_SYSCALLS=y
# CT_LIBC_NEWLIB_NANO_ATEXIT_DYNAMIC_ALLOC is not set
# CT_LIBC_NEWLIB_NANO_GLOBAL_ATEXIT is not set
# CT_LIBC_NEWLIB_NANO_MULTITHREAD is not set
CT_LIBC_NEWLIB_NANO_EXTRA_SECTIONS=y
